<div class="row">
    <div class="col-lg-12">
        <form [formGroup]="form">
            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="form_sub_title">
                        <p>ස්ථානයේ තොරතුරු (Location Data)</p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Division (කොට්ඨාසය)
                                </label>
                                <select formControlName ="qp_division" (change)="divisionSelected()" >
                                    <option *ngFor="let division of divisions" [value]="division">{{division}}</option>
                                </select>
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Police Station (පොලිස් ස්ථානය)
                                </label>
                                <select formControlName="qp_policeStation" (change)="policeStationSelected()">
                                    <option *ngFor="let policeStation of policeStations" [value]="policeStation">
                                        {{policeStation}}</option>
                                </select>
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Village Offficer Division (ග්‍රාම නිලධාරී වසම)
                                </label>
                                <select formControlName="qp_gramaSewaDivisionId" (change)="gramaSewaDivisionSelected()">
                                    <option>-- Please Select --</option>
                                    <option *ngFor="let gramaSewaDivision of gramaSewaDivisions"
                                        [value]="gramaSewaDivision.id">{{gramaSewaDivision.name}}</option>
                                </select>
                                <div class="err_lo"
                                    *ngIf="submitted && form.controls['qp_gramaSewaDivisionId'].hasError('required')">Village Offficer Division is
                                required </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    File No (පොලිස් ස්ථානයේ ලේ.අ)
                                </label>
                                <input type="text" formControlName="qp_fileNo">
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="form_sub_title">
                        <p>නිරොධායනයට ලක්වන්න තැනැත්තාගේ ගේ පුත්ගලික තොරතුරු (Personal Details)</p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="page_input">
                                <label>
                                    NIC (ජා.හැ.අ)
                                </label>
                                <input type="text" formControlName="qp_nic">
                                <div class="err_lo"
                                    *ngIf="submitted && form.controls['qp_nic'].hasError('required')">NIC is
                                required </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="page_input">
                                <label>
                                    Passport NO (විදේශ ගමන් බලපත් අංකය)
                                </label>
                                <input type="text" formControlName="qp_passportNo">
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="page_input">
                                <label>
                                    Name (නම)
                                </label>
                                <input type="text" formControlName="qp_name">
                                <div class="err_lo"
                                    *ngIf="submitted && form.controls['qp_name'].hasError('required')">Name is
                                required </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="page_input">
                                <label>
                                    Address (ලිපිනය)
                                </label>
                                <input type="text" formControlName="qp_address">
                                <div class="err_lo"
                                    *ngIf="submitted && form.controls['qp_address'].hasError('required')">Address is
                                required </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="page_input">
                                <label>
                                    Age (වයස)
                                </label>
                                <input type="number" formControlName="qp_age">
                                <div class="err_lo"
                                    *ngIf="submitted && form.controls['qp_age'].hasError('required')">Age is
                                required </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="page_input">
                                <label>
                                    Date Reported (වාර්ථාවු දිනය)
                                </label>
                                <input type="date" formControlName="qp_reportedDate">
                                <div class="err_lo"
                                    *ngIf="submitted && form.controls['qp_reportedDate'].hasError('required')">Date is
                                required </div>
                            </div>
                        </div>
                    </div>

                    <div class="form_sub_title">
                        <p>සම්බන්ද කරගන්නා ආකාරය (Contact Details)</p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Mobile Number (ජංගම දුරකතන අංකය)
                                </label>
                                <input type="text" formControlName="qp_mobile">
                                <div class="err_lo"
                                    *ngIf="submitted && form.controls['qp_mobile'].hasError('required')">Mobile No. is
                                required </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Land Line (ස්ථාවර දුරකතන අංකය)
                                </label>
                                <input type="text" formControlName="qp_phone">
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label><input type="checkbox" value=""
                                     formControlName="qp_appEnable">ජංගම දුරකතන යෙදුමක් භාවිතා කිරීමේ හැකියාවක්
                                    ඇත්ද?</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="form_sub_title">
                        <p>Other Information (වෙනත් කරුණු)</p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page_input">
                                <label>

                                </label>
                                <textarea rows="5" formControlName="qp_otherFacts"></textarea>

                                <!-- <label class="err_lo">
                        Please fill this field
                    </label> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="form_sub_title">
                        <p>විදේශ රටක සිට පැමිණියේ නම් (If came from forign country)</p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="page_input">
                                <label>
                                    Date (පැමිණි දිනය)
                                </label>
                                <input type="date" formControlName="qp_arrivalDate">
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="page_input">
                                <label>
                                    Country (පැමිණි රට)
                                </label>
                                <select formControlName="qp_countryId" (change)="counrtySelected()">
                                    <option *ngFor="let country of countries" [value]="country.id">
                                        {{country.name}}</option>
                                </select>
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                    </div>
                    <div class="form_sub_title">
                        <p>සෞඛ්‍ය නිලධාරීන් දැනුවත් කලෙ නම් (If informed helth officer)</p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="page_input">
                                <label>
                                    Date (දැනුවත් කල දිනය)
                                </label>
                                <input type="date" formControlName="qp_informedDate">
                                <!-- <label class="err_lo">
                            Please fill this field
                        </label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="form_sub_title">
                        <p>නිවස සම්බන්දි කරන පොලිස් නිලධාරියාගේ දත්ත (Police Officer Details)</p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Rank (නිළය)
                                </label>
                                <select></select>
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Officer (නිළධාරීන්)
                                </label>
                                <input type="text">
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="form_sub_title">
                        <p>වෙනත් විශේෂ තොරතුරු (Other Special Data)</p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <p>ආසධිතයකු ලෙස
                                    සැකකර රෝහල් ගතකරන ලද්දේද?</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Date (රෝහල් ගතකල දිනය)
                                </label>
                                <input type="date" formControlName ="qp_admittedDate">
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Hospital (රෝහල)
                                </label>
                                <input type="text" formControlName ="qp_admitHosId">
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Date (පිටවූ දිනය)
                                </label>
                                <input type="date" formControlName ="qp_dischargedDate">
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <p>ආසධිතයකු බවට හදුනා
                                    ගත්තේද?</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Date (දිනය)
                                </label>
                                <input type="date" formControlName ="qp_confirmedDate">
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Hospital (රෝහල)
                                </label>
                                <input type="text" formControlName ="qp_confirmedHosId">
                                <!-- <label class="err_lo">
                                Please fill this field
                            </label> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="form_sub_title">
                        <p>භාර කරුවෙකු සිටියි නම් එම තොරතුරු - ඇත්නම් පමණි (If Guardian Available)</p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Name (නම)
                                </label>
                                <input type="text" formControlName ="gr_name">
                                <!-- <label class="err_lo">
                                        Please fill this field
                                    </label> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    NIC (ජා.හැ.අ)
                                </label>
                                <input type="text" formControlName ="gr_nic">
                                <!-- <label class="err_lo">
                                        Please fill this field
                                    </label> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Passport No (විදේශ ගමන් බලපත් අංකය)
                                </label>
                                <input type="text" formControlName ="gr_passportNo">
                                <!-- <label class="err_lo">
                                        Please fill this field
                                    </label> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="page_input">
                                <label>
                                    Mobile No (ජංගම දුරකතන අංකය)
                                </label>
                                <input type="text" formControlName ="gr_mobile">
                                <!-- <label class="err_lo">
                                        Please fill this field
                                    </label> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <div class="panel panel-bd">
            <div class="panel-body">
                <div class="row">
                    <div class="pull-right">
                        <div class="page_button pageptn">
                            <button type="submit" (click)="resetForm()">Clear</button>
                            <button type="submit" (click)="addNewPerson()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>