<div class="container-fluid">
    <!-- Page title -->
    <div class="content-header">
        <div class="header-icon">
            <i class="material-icons-outlined">person</i>
        </div>
        <div class="header-title">
            <h1>Quarantine Persons <span class="sinhalaTitle">(නිරෝධායනය වන පුද්ගලයින්)</span></h1>
            <small>Information about quarantine Persons up to now (මේ වන විට නිරෝධායනයේ පසුවන පුද්ගලයින්)</small>
            <ol class="breadcrumb">
                <li><a ><i class="fa fa-home"></i> Quarantine</a></li>
                <li><a >Persons</a></li>
            </ol>
        </div>
    </div>
    <!-- Page Content -->
    <!-- <app-add-edit-person></app-add-edit-person> -->
    <!-- Page content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="pull-right flot_none">
                        <div class="pagefilter">
                            <ul>
                                <li>
                                    <div class="filter_input">
                                        <input type="search" placeholder="Search Name...." [(ngModel)]="search_text"
                                            (keypress)="checkEnter($event.keyCode)" (keyup)="search()"
                                            [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="filterbtn">
                                        <button type="submit" (click)="search()">Search</button>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="filterbtn">
                                        <button type="button" (click)="OnEditClick(0)">Add New</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="page_table page_table_list">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <!-- <th>ID</th> -->
                                        <th>Name <br/> (නම)</th>
                                        <th>Mobile Number<br/>(ජංගම දුරකථන අංකය)</th>
                                        <th>Address<br/>(ලිපිණය)</th>
                                        <th>Police Station <br/>(පොලිස් ස්ථානය)</th>
                                        <th>Total Points<br/>(අවදානම් මට්ටම)</th>
                                        <th>Remaining Days<br/>(ඉතිරි දින ගනන)</th>
                                        <th>Last Update<br/>(යාවත්කලීන කළ දිනය) </th>
                                        <th colspan="2">More..<br/>(වෙනත්)</th>
                                        <!-- <th></th> -->
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr  [ngClass] = "p.needToRemind?'notupdate':'update'" *ngFor = "let p of persons">
                                        <!-- <td>{{p.id}}</td> -->
                                        <td>{{p.name}}</td>
                                        <td>{{p.mobile}}</td>
                                        <td>{{p.address?.line}}</td>
                                        <td>{{p.stationResDto?.name}}</td>
                                        <td>{{p.totalPoints ? p.totalPoints : 0}}</td>
                                        <td>{{p.remainingDays}}</td>
                                        <td>{{p.lastUpdateDate}}</td>
                                        <td class="update_td" (click)="OnDailyUpdatesClick(p.id)">
                                            Daily Updates
                                        </td>
                                        <td class="edti_td" (click)="OnEditClick(p.id)">
                                            Edit
                                        </td>
                                    </tr>
                                    <!-- <tr class="update"  >
                                        <td>2</td>
                                        <td>John Doe</td>
                                        <td>0112245369</td>
                                        <td>45</td>
                                        <td>2020-04-01</td>
                                        <td class="update_td" (click)="OnDailyUpdatesClick(2)" >
                                            Daily Updates
                                        </td>
                                        <td class="edti_td" (click)="add_new(2)">
                                            Edit
                                        </td>
                                    </tr> -->
                                </tbody>
                                
                            </table>
                            <!-- <div class="loading" *ngIf="loading">
                                <img class="image_Loading" src="../../../../assets/img/loader.gif" />
                            </div> -->
                        </div>
                    </div>
                    <app-pagination [offset]="offset" [limit]="limit" [size]="count"
                        (pageChange)="onPageChange($event)"></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="addNew" class="overlay">
    <div class=" popup " style="width: 90%;">
        <div class="popup_heading ">
            <div class="row margin ">
                <div class="pull-right ">
                    <a class="close " (click)="close_add_new()">&times;</a>
                </div>
                <h2>Add New Quarantine Person</h2>
            </div>
        </div>
        <div class="content">
            <div *ngIf = "show_q_person_model">
            <app-add-edit-person [id] = "q_person_id" (pageRefersh)="onPageRefresh($event)"></app-add-edit-person>
        </div>
        </div>

    </div>
</div> -->