agm-map {
    height: 450px;
}

div input{
    position: absolute;
    z-index: 997;
    margin: 0 auto;
    left: 24px;
    /* right: 0; */
    top: 2%;
    /* text-align: center; */
    width: 40%;
}

.inside_input {
    position: relative !important;
    left: 0 !important;
    margin-right: 6px !important;
}