<div class="col-md-4">
    <label>
        Address (ලිපිනය)
    </label>
    <div class="page_input">
        <ng-autocomplete [data]="addresses" [searchKeyword]="addressKeyword" placeHolder="Enter Address line"
            (selected)='selectEventAddress($event)' (inputChanged)='onChangeSearchAddress($event)'
            [(ngModel)]="initaddress" (inputFocused)='onFocusedAddress($event)' historyIdentifier="addresses"
            [itemTemplate]="itemTemplateAdd" [notFoundTemplate]="notFoundTemplateAdd">
        </ng-autocomplete>

        <ng-template #itemTemplateAdd let-item>
            <a [innerHTML]="item.line"></a>
        </ng-template>

        <ng-template #notFoundTemplateAdd let-notFound>
            <div [innerHTML]="notFound"></div>
        </ng-template>
    </div>

    <div class="row" *ngIf="address != undefines">

        <div class="col-md-4">
            <label>
                Village (ග්‍රාමය)
            </label>
            <input type="text" [(ngModel)]="address.village" (change)="onVillageChange()">
        </div>

        <div class="col-md-4">
            <label>
                Town (නගරය)
            </label>
            <input type="text" [(ngModel)]="address.town" (change)="onTownChange()">
        </div>

        <div class="col-md-4">
            <label>
                Police Area (පොලිස් බල ප්‍රදේශය)
            </label>
            <input type="text" [(ngModel)]="address.policeArea" (change)="onPoliceAreaChange()">
        </div>
    </div>

</div>
<div class="col-md-8">
    <input type="text" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off"
        autocapitalize="off" spellcheck="off" type="text" #search (change)="onAddressChange()">
    <agm-map [latitude]="+address.lat" [longitude]="+address.lon" [zoom]="zoom" *ngIf="enable">
        <agm-marker [latitude]="+address.lat" [longitude]="+address.lon" [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
</div>
<!-- <img src="../../../../assets/map/COLOMBO.kmz" alt=""> -->

<!-- <h5>Address: {{address.line}}</h5>
<div>Latitude: {{address.lat}}</div>
<div>Longitude: {{address.lng}}</div> -->