<div class="container-fluid">
    <!-- Page title -->
    <div class="content-header">
        <div class="header-icon">
            <i class="material-icons-outlined">supervisor_account</i>
        </div>
        <div class="header-title">
            <h1>Add / Edit Users <span class="sinhalaTitle">(පරිශිලකයින් එකතු කිරීම / සංස්කරණය)</span></h1>
            <small>Add or Edit System Users.(පද්ධති පරිශිලකයින් එකතු කිරීම හෝ සංස්කරණය)</small>
            <ol class="breadcrumb">
                <li><a><i class="fa fa-users"></i> Admin</a></li>
                <li><a>User</a></li>
            </ol>
        </div>
    </div>
    <!-- Page Content -->
    <!-- <app-add-edit-person></app-add-edit-person> -->
    <!-- Page content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="page_padding">
                            <form [formGroup]="form" *ngIf="form">
                                <div class="col-md-5 one_form">
                                    <!-- <div class="row margin page_input">
                                        <div class="col-md-3">
                                            <label>Role</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select formControlName="role">
                                                <option value="0" selected="selected">Select a role...</option>
                                                <option value="1" selected="selected">Root</option>
                                                <option value="2" selected="selected">Admin</option>
                                            </select>
                                            <div class="err_lo" *ngIf="submitted && form.controls['role'].value<=0">Role
                                                is required </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="row margin page_input">
                                        <div class="col-md-3">
                                            <label>NIC</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" formControlName="nic" />
                                            <div class="err_lo" >Username is required </div>
                                            <div class="err_lo"
                                                *ngIf="submitted && form.controls['nic'].hasError('required')">NIC is
                                                required </div>
                                        </div>
                                    </div> -->
                                    <div class="row margin page_input">
                                        <div class="col-md-3">
                                            <label>Name <br /> (නම)</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" formControlName="name" />
                                            <div class="err_lo"
                                                *ngIf="submitted && form.controls['name'].hasError('required')">Name is
                                                required </div>
                                            <!-- <div class="err_lo">Last Name is required</div> -->
                                        </div>
                                    </div>
                                    <div class="row margin page_input">
                                        <div class="col-md-3">
                                            <label>Mobile <br />(ජංගම දුරකථන අංකය)</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" formControlName="mobile" />
                                            <div class="err_lo"
                                                *ngIf="submitted && form.controls['mobile'].hasError('required')">Mobile
                                                Number is
                                                required </div>
                                        </div>
                                    </div>
                                    <div class="row margin page_input">
                                        <div class="col-md-3">
                                            <label>Badge No <br /> (නිල අංකය)</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" formControlName="officeId" />
                                            <!-- <div class="err_lo">Last Name is required</div> -->
                                            <div class="err_lo"
                                                *ngIf="submitted && form.controls['officeId'].hasError('required')">
                                                Badge No is
                                                required </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row margin page_input">
                                        <div class="col-md-3">
                                            <label>Passport No </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" formControlName="passportNo" />
                                            <div class="err_lo">Last Name is required</div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="row margin page_input">
                                        <div class="col-md-3">
                                            <label>Rank <br />(තනතුර)</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select formControlName="rank">
                                                <option value='null' selected="selected">Select Rank (තනතුර තෝරන්න)
                                                </option>
                                                <option value="ASP">ASP</option>
                                                <option value="SSP">SSP</option>
                                                <option value="SARJANT">SERGEANT</option>
                                                <option value="PC">PC</option>
                                                <option value="IP">IP</option>
                                                <option value="SP">SP</option>
                                                <option value="DIG">DIG</option>
                                            </select>
                                         
                                        </div>
                                    </div> -->
                                    <div class="row margin page_input">
                                        <div class="checkbox">
                                            <p class="checkHedder"><input type="checkbox"
                                                    formControlName="canCreateUser">Can Create User <br /> (නව
                                                පරිශිලකයින් එකතු කළ හැකිද ?)</p>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- <div class="col-md-5 one_form">
                                <div class="row margin page_input">
                                    <div class="col-md-3">
                                        <label>Police Station<br /> (පොලිස් ස්ථානය)</label>
                                    </div>
                                    <div class="col-md-8">
                                        <ng-multiselect-dropdown [placeholder]="'-- Please Select --'"
                                            [data]="locations" [(ngModel)]="selectedLocations"
                                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="page_button pageptn">
                            <button type="submit" [routerLink]="['/admin/user']">Cancel</button>
                            <button type="submit" (click)="submit()">Save </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="addNew" class="overlay">
    <div class=" popup " style="width: 90%;">
        <div class="popup_heading ">
            <div class="row margin ">
                <div class="pull-right ">
                    <a class="close " (click)="close_add_new()">&times;</a>
                </div>
                <h2>Add New</h2>
            </div>
        </div>
        <div class="content">
            <app-add-edit-person></app-add-edit-person>
        </div>
        <hr />
        <div class="poopup_footer">
            <div class="row">
                <div class="pull-right">
                    <div class="page_button pageptn">
                        <button type="submit" (click)="close_add_new()">Cancel</button>
                        <button type="submit" (click)="close_add_new()">Add</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->