<div class="container-fluid">
    <!-- Page title -->
    <div class="content-header">
        <div class="header-icon">
            <i class="material-icons-outlined">person</i>
        </div>
        <div class="header-title">
            <h1>Daily Updates</h1>
            <small>Information about quarantine Person.</small>
            <ol class="breadcrumb">
                <li><a><i class="fa fa-home"></i> Quarantine</a></li>
                <li><a>Daily Updates</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-bd">
                <div class="panel-body">
                    <div>
                        <p>Name : John Doe</p>
                        <p>Telephone : 0711502365</p>
                        <p>Total Points :8pt</p>
                    </div>
                    <div class="page_table page_table_list">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Telephone</th>
                                        <th>Total Points</th>
                                        <th>Last Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>John Doe</td>
                                        <td>0112546785</td>
                                        <td>20</td>
                                        <td>2020-04-01</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <div class="row">
                            <div class="pull-right">
                                <div class="page_button pageptn">
                                    <button type="submit" [routerLink]="['/quarantine/quarantine-person']">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>