<div class="container-fluid">
    <!-- Page title -->
    <div class="content-header">
        <div class="header-icon">
            <i class="material-icons-outlined">person</i>
        </div>
        <div class="header-title">
            <h1>Daily Updates</h1>
            <small>Information about quarantine Person.</small>
            <ol class="breadcrumb">
                <li><a><i class="fa fa-home"></i> Quarantine</a></li>
                <li><a>Daily Updates</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <table class="table table-borderless list_table">
                                <thead><th></th> <th></th></thead>
                                <tbody>
                                <tr>
                                    <td scope="row">ID</td>
                                    <td>{{updates.userId}}</td>
                                </tr>
                                <tr scope="row">
                                    <td>Name</td>
                                    <td>{{updates.name}}</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="page_table page_table_list">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Date <br/>(දිනය)</th>
                                        <th>THROAT <br/>(උගුරේ වේදනාව)</th>
                                        <th>DIARRHEA <br/>(පාචනය)</th>
                                        <th>BREATH <br/>(හුස්ම ගැනීමෙ අපහසුතාව)</th>
                                        <th>HEADACHE <br/>(හිසේ කැක්කුම)</th>
                                        <th>COLD <br/>(සෙම්ප්‍රතිශ්‍යාව)</th>
                                        <th>MYALGIA <br/>(පේශි වල වේදනාව)</th>
                                        <th>COUGH <br/>(කැස්ස)</th>
                                        <th>FEVER <br/>(උණ)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let u of updates.dailyUpdates">
                                        <td>{{u.date.year + "-" + u.date.monthValue + "-" + u.date.dayOfMonth}}</td>
                                        <td>
                                            <i class="fa fa-times fa-2x normal" aria-hidden="true"
                                                *ngIf="!u.pointValues.THROAT"></i>
                                            <i class="fa fa-check fa-2x danger" aria-hidden="true"
                                                *ngIf="u.pointValues.THROAT"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times fa-2x normal" aria-hidden="true"
                                                *ngIf="!u.pointValues.DIARRHEA"></i>
                                            <i class="fa fa-check fa-2x danger" aria-hidden="true"
                                                *ngIf="u.pointValues.DIARRHEA"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times fa-2x normal" aria-hidden="true"
                                                *ngIf="!u.pointValues.BREATH"></i>
                                            <i class="fa fa-check fa-2x danger" aria-hidden="true"
                                                *ngIf="u.pointValues.BREATH"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times fa-2x normal" aria-hidden="true"
                                                *ngIf="!u.pointValues.HEADACHE"></i>
                                            <i class="fa fa-check fa-2x danger" aria-hidden="true"
                                                *ngIf="u.pointValues.HEADACHE"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times fa-2x normal" aria-hidden="true"
                                                *ngIf="!u.pointValues.COLD"></i>
                                            <i class="fa fa-check fa-2x danger" aria-hidden="true"
                                                *ngIf="u.pointValues.COLD"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times fa-2x normal" aria-hidden="true"
                                                *ngIf="!u.pointValues.MYALGIA"></i>
                                            <i class="fa fa-check fa-2x danger" aria-hidden="true"
                                                *ngIf="u.pointValues.MYALGIA"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times fa-2x normal" aria-hidden="true"
                                                *ngIf="!u.pointValues.COUGH"></i>
                                            <i class="fa fa-check fa-2x danger" aria-hidden="true"
                                                *ngIf="u.pointValues.COUGH"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times fa-2x" aria-hidden="true"
                                                *ngIf="!u.pointValues.FEVER"></i>
                                            <i class="fa fa-check fa-2x" aria-hidden="true"
                                                *ngIf="u.pointValues.FEVER"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <div class="row">
                            <div class="pull-right">
                                <div class="page_button pageptn">
                                    <button type="submit"
                                        [routerLink]="['/quarantine/quarantine-person']">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>