<div class="container-fluid">
    <!-- Page title -->
    <div class="content-header">
        <div class="header-icon">
            <i class="material-icons-outlined">home</i>
        </div>
        <div class="header-title">
            <h1>Dashboard</h1>
            <small>Review data here.</small>
            <ol class="breadcrumb">
                <li><a><i class="fa fa-home"></i> Home</a></li>
                <li><a>Dashboard</a></li>
            </ol>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="page_input">
                                    <label>
                                        Division (කොට්ඨාසය)
                                    </label>
                                    <select (change)="divisionSelected()">
                                        <option *ngFor="let division of divisions" [value]="division">{{division}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="page_input">
                                    <label>
                                        Police Station (පොලිස් ස්ථානය)
                                    </label>
                                    <ng-multiselect-dropdown [placeholder]="'-- Please Select --'" [data]="locations"
                                        [(ngModel)]="selectedLocations" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="page_input">
                                    <label>
                                        Date Range (කාල පරාසය)
                                    </label>
                                    <input type="text" ngxDaterangepickerMd autoApply="true" [(ngModel)]="selected"
                                        opens="right" drops="down" startKey="start" endKey="end" [locale]="locale" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="page_input">
                                    <label>
                                        <span>&#8203;</span>
                                    </label>
                                    <div class="input_button">
                                        <button (click)="draw()">Draw</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <app-age-chart reqest='true'> </app-age-chart>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <app-station-distribution></app-station-distribution>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <app-new-quarantine-persons-distribution></app-new-quarantine-persons-distribution>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <app-quarantine-person-distribution></app-quarantine-person-distribution>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>