<div class="container-fluid">
    <!-- Page title -->
    <div class="content-header">
        <div class="header-icon">
            <i class="material-icons-outlined">home</i>
        </div>
        <div class="header-title">
            <h1>Dashboard <span class="sinhalaTitle">(දත්ත පුවරුව)</span></h1>
            <small>All COVID-19 Infected People (කොවිඩ් -19 ආසාධිත පුද්ගලයින්)</small>
            <ol class="breadcrumb">
                <li><a><i class="fa fa-home"></i> Home</a></li>
                <li><a>Dashboard</a></li>
            </ol>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2" *ngIf="activeGraph != graph.DISTRICT_COMPARISION">
                                <div class="page_input set-inline">
                                    <label>
                                        Province <br> (පළාත)
                                    </label>
                                    <select [(ngModel)]="provice" (change)="onProvinceChange($event)">
                                        <option [value]=null selected>All
                                        </option>
                                        <option *ngFor="let e of provices" [value]="e.id">{{e.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="activeGraph == graph.DISTRICT_COMPARISION">
                                <div class="page_input">
                                    <label>
                                        District <br> (දිස්ත්‍රික්කය)
                                    </label>
                                    <ng-multiselect-dropdown [data]="allDistricts" [(ngModel)]="selectedDistricts"
                                        [settings]="dropdownSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>

                            <div class="col-md-2"
                                *ngIf="!(provice == 'null' ||provice == null || activeGraph == graph.DISTRICT_COMPARISION)">
                                <div class="page_input set-inline">
                                    <label>
                                        District <br>(දිස්ත්‍රික්කය)
                                    </label>
                                    <select [(ngModel)]="district" (change)="onDistrictChange($event)">
                                        <option [value]=null selected>All
                                        </option>
                                        <option *ngFor="let e of districts" [value]="e.id">{{e.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2" *ngIf="!(district ==null ||district =='null' || activeGraph == graph.DISTRICT_COMPARISION)">
                                <div class="page_input set-inline">
                                    <label>
                                        DS Division <br> (ප්‍රාදේශීය ලේකම් කොට්ඨාසය)
                                    </label>
                                    <select [(ngModel)]="division" (change)="onDsDivisionChange($event)">
                                        <option [value]=null selected>All
                                        </option>
                                        <option *ngFor="let e of divisions" [value]="e.id">
                                            {{e.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2" *ngIf="!(division ==null ||division =='null'|| activeGraph == graph.DISTRICT_COMPARISION)">
                                <div class="page_input set-inline">
                                    <label>
                                        GN Division <br> (ග්‍රාම නිලධාරී වසම)
                                    </label>
                                    <select [(ngModel)]="gnd" (change)="onGndIdSelect($event)">
                                        <option value=null>All</option>
                                        <option *ngFor="let e of gnds" [value]="e.id">{{e.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2" *ngIf="false">
                                <div class="page_input">
                                    <label>
                                        Date Range <br> (කාල පරාසය)
                                    </label>
                                    <input type="text" ngxDaterangepickerMd autoApply="true" [(ngModel)]="selected"
                                        opens="right" drops="down" startKey="start" endKey="end" [locale]="locale" />
                                </div>
                            </div>
                            <div class="col-md-1"
                                *ngIf="(activeGraph == graph.age ||activeGraph == graph.DAILY_COVID || activeGraph == graph.DISTRICT_COMPARISION)">
                                <div class="page_input">
                                    <label>
                                        Type <br> (වර්ගය)
                                    </label>
                                    <select [(ngModel)]="covidCaseType">
                                        <option value="ALL">ALL</option>
                                        <option value="ACTIVE"
                                            *ngIf="!(activeGraph == graph.DAILY_COVID || activeGraph == graph.DISTRICT_COMPARISION)">
                                            ACTIVE</option>
                                        <option value="RECOVERED">RECOVERED</option>
                                        <option value="DECEASED">DECEASED</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="page_input">
                                    <label>
                                        <span>&#8203;</span>
                                        <br>
                                        <span>&#8203;</span>
                                    </label>
                                    <div class="input_button">
                                        <button (click)="draw()">Draw</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
            <div class="col-md-6">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <app-age-chart [reqest]='request'> </app-age-chart>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <app-station-distribution [reqest]='request'></app-station-distribution>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <app-new-quarantine-persons-distribution [reqest]='request'></app-new-quarantine-persons-distribution>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-bd">
                    <div class="panel-body">
                        <app-quarantine-person-distribution [reqest]='request'></app-quarantine-person-distribution>
                    </div>
                </div>
            </div>
        </div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-bd">
                <div class="panel-body">
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active" (click)="graph_params(graph.age)"><a data-toggle="tab"
                                    href="#age">According to Age <br> (වයස අනුව)</a>
                            </li>
                            <li (click)="graph_params(graph.date)"><a data-toggle="tab" href="#date"> CUMULATIVE_COVID
                                    <br> (CUMULATIVE_COVID)</a></li>
                            <li (click)="graph_params(graph.DAILY_COVID)"><a data-toggle="tab"
                                    href="#station">DAILY_COVID <br>(DAILY_COVID)</a>
                            </li>
                            <li (click)="graph_params(graph.DISTRICT_COMPARISION)"><a data-toggle="tab" href="#growth">
                                    DISTRICT_COMPARISION <br>
                                    (DISTRICT_COMPARISION)</a></li>
                            <!-- <li (click)="graph_params(graph.growth)"><a data-toggle="tab" href="#map"> In/End
                                    Distribution in map <br> (ව්‍යාප්තිය සිතියමක)</a></li> -->
                        </ul>
                    </div>
                    <!-- <div class="container"> -->
                    <div class="tab-content">
                        <div id="age" class="tab-pane fade in active">
                            <div class="container">
                                <app-age-chart [reqest]='request'> </app-age-chart>
                            </div>
                        </div>
                        <div id="date" class="tab-pane fade">
                            <div class="container">
                                <app-new-quarantine-persons-distribution [reqest]='request'>
                                </app-new-quarantine-persons-distribution>
                            </div>
                        </div>
                        <div id="station" class="tab-pane fade">
                            <div class="container">
                                <app-station-distribution [reqest]='request'></app-station-distribution>
                            </div>
                        </div>
                        <div id="growth" class="tab-pane fade">
                            <div class="container">
                                <app-quarantine-person-distribution [reqest]='request'>
                                </app-quarantine-person-distribution>
                            </div>
                        </div>
                        <div id="map" class="tab-pane fade">
                            <div style="padding-top: 10px;">
                                <!-- <app-map-distribution>
                                    </app-map-distribution> -->
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>