<div class="graph_sub_title">
    <p>නිරෝධායනය වන පුද්ගලයින් ගේ ව්‍යාප්තිය - වයස අනුව <br /> (Distribution of Quarantine Persons - According to Ages)
    </p>
    <hr>
</div>
<div class="chart-wrapper" *ngIf="!loading">
    <canvas baseChart [datasets]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
    </canvas>
</div>
<div class="loading" *ngIf="loading">
    <img class="image_Loading" src="../../../../assets/img/loader.gif" />
</div>