<nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="menu-toggle"><a href="#"><i class="material-icons">apps</i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="material-icons">perm_identity</i><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a>Account settings</a></li>
                    <li (click)="logOut()"><a>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>